<footer class="footer">
    <small class="footer_copyright">
      <div id="bottom-inner">
        © Site by <%=config.author%><br>
        <a href="http://hexo.io">Hexo</a> &
        <a href="https://github.com/RichardTang2003/hexo-theme-Klise-glassy">Klise-glassy</a>
        <br>
        <%= theme.footer.message %>
        
      </div>
    </small>
  </footer>
  
  <%- partial('partials/scripts') %>